In [ ]:
import pandas as pd
import get_data as gd
import matplotlib.pyplot as plt
from matplotlib.ticker import PercentFormatter

# Intro to the Data Sets

This notebook will introduce you to some foundational datasets for sabermetrics. An brief overview of the datasets, code to get the data, and some examples of how you can use the dataset to answer baseball questions will be provided.

The datasets introduced will be:
* The Lahman Dataset - It provides a large amount of season data from 1871 to the current season. It has an impressive amount of documentation and can be downloaded in a number of different sources (I use the csv version in this notebook)
* The Retro Dataset - Provides game by game or play by play data, a different zip file exists for each season. The data can be found here www.retrosheet.org/gamelogs/index.html.

## The Lahman Dataset

The section will go over (1) How to get the data to your local (2) Examples of questions you can answer with the data (3) Limitation of the dataset.

### Getting the Data
Neither function is to complex but both help save some time and manual steps. 

The first function "get_data" checks to see if a "master" folder already exists, if it doesn't it then uses the "dload" package to download and unzip all the files. Some potential good extensions to the get_data function would be to allow the user to provide the source link, name of the master file, and the option to update the content of the master file if it already exists.

The "make_df" function just saves you from having to remeber the location of the lahman dataset.

Again neither function is required, but makes life a litte bit easier.

In [ ]:
def get_data():
    """
    Function to download lahman data set, unzip and create a folder
    """
    if path.exists('master'):
        print('Folder already exists')
    else:
        dload.save_unzip("https://github.com/chadwickbureau/baseballdatabank/archive/master.zip")


def make_df(data_set: str) -> pd.DataFrame:
    """
    Simple function that saves writting out the file path
    :param data_set: Name of Lahman dataset you want
    :return: A dataframe of the dataset
    """
    assert isinstance(data_set, str)
    df: pd.DataFrame = pd.read_csv(f'master/baseballdatabank-master/core/{data_set}.csv')
    assert isinstance(df, pd.DataFrame)
    return df

### Example Questions & Limitation

Below are some example questions that will be answered, the Lahman dataset provides you with almost everything you need to answer season level questions. However, since all data is aggregated to a season you won't be able to dig into game/event specific questions such as "Do hot streaks exists for batter or pitchers?".

#### Q1 - What is the average number of home runs per game recorded in each decade? Does the rate of strikeouts show any correlation with the rate of home runs?

In [ ]:
teams_df = gd.make_df("Teams") # Get the Teams data 

# Convert the year into decades
teams_df['decade'] = round(teams_df['yearID']/10)*10 
# Use the groupby function to aggregate totals for G, HR and SO by decade
# I tend to find to easier to set as_index to false
decade_group = teams_df.groupby('decade', as_index=False)[['G','HR','SO']].sum()
#This removes double counting games
decade_group['G'] = decade_group['G']/2 
# Now you just need to calculate the averages by decade :)
decade_group['Avg HR Per Game'] = decade_group['HR']/decade_group['G']
decade_group['Avg SO Per Game'] = decade_group['SO']/decade_group['G']

# I will be using matplotlib, some other good libraries to check out are seaborn, plotly & altair
# As some future work I will re-make these graphs with the other libraries
# Style wise, I typically start with 538, then make some modification to make it with a white background
plt.style.use('fivethirtyeight')
fig = plt.figure(figsize=(20,15))
# Since we want to compare to different metrics over time I use the gricspec function
# Given the x-axis align and the y-axis don't I find it better to stack the graphs vertically rather than horizontally
# If they are side by side I find ppl tend not to notice the different in axis's 
# As a rule of thumb I try and always align axis of the same time, so in this case both graphs have x-axis that are by decade
gs = fig.add_gridspec(2,1)
ax1 = fig.add_subplot(gs[0, 0])
ax2 = fig.add_subplot(gs[1, 0])

fig.patch.set_facecolor('white')
ax1.set_facecolor('white')
ax1.plot(decade_group['decade'], decade_group['Avg HR Per Game'])
ax1.set_title('Average Home Runs Per Game')

ax2.set_facecolor('white')
ax2.plot(decade_group['decade'], decade_group['Avg SO Per Game'])
ax2.set_title('Average Strike Outs Per Game')
plt.show()

#### Q2 - What effect has the introduction of the Designated Hitter (DH) in the American League had in the difference in run scoring between the American and National Leagues?

In [ ]:
# Similiar to above you can do some simple groupping by league & year for games and runs
league_group = teams_df.groupby(['yearID','lgID'], as_index=False)[['G','R']].sum()

# I then seperate out NL & AL into their own dataframes to make graphing & calculations easier 
nl_group = league_group[league_group['lgID'] == 'NL']
al_group = league_group[league_group['lgID'] == 'AL']

# Find the average runs per game (since we seperated leagues no need to remove double counting)
nl_group['Avg Runs Per Game'] = nl_group['R']/nl_group['G']
al_group['Avg Runs Per Game'] = al_group['R']/al_group['G']

plt.style.use('fivethirtyeight')
# First attempt at graphing this I just plotted the two leagues over top of each other
# This seemed like the natural way to look at it but it was hard to tell what the impact was
fig, ax = plt.subplots(figsize= (20,10))
fig.patch.set_facecolor('white')
ax.plot(nl_group['yearID'], nl_group['Avg Runs Per Game'], label='National League')
ax.plot(al_group['yearID'], al_group['Avg Runs Per Game'], label='American League')
ax.set_facecolor('white')
ax.legend()
ax.set_title('Average Runs by League')
# draw a line for when the DH was added to make seeing the impact easier
# TODO Add some text indicating what this line is
plt.axvline(x=1973, color='black', linestyle='--')

In [ ]:
# In my second attempt I merge the AL & NL sets together and then graph the difference
league_merge = pd.merge(nl_group, al_group, on='yearID',suffixes=('_nl', '_al'))
league_merge['Avg Run Difference'] = league_merge['Avg Runs Per Game_nl'] - league_merge['Avg Runs Per Game_al']

# The impact of the DH is more clear to see in this method
# The interesting thing to notice is how slowly how the impact of the DH has disappeared
# This makes me want to dig into what is causing the decline in the impact
plt.style.use('fivethirtyeight')
fig, ax = plt.subplots(figsize= (20,10))
fig.patch.set_facecolor('white')
ax.plot(league_merge['yearID'], league_merge['Avg Run Difference'])
ax.set_facecolor('white')
#ax.legend()
plt.axvline(x=1973, color='black', linestyle='--')
plt.axhline(y=0, color='black') # Add in a solid line to spot the difference a bit easier
plt.show()

#### Q3 - How does the percentage of games completed by the starting pitcher from 2000 to 2010 compare to the percentage of games 100 years before?

In [ ]:
pitching_df = gd.make_df("Pitching") # Get the Pitching data 

# I slice the data into two different dataframes based on the years in question
# Best to make a function which takes date ranges to do this
pitching_df_2000_to_2010 = pitching_df[(pitching_df['yearID'] >= 2000) & (pitching_df['yearID'] <= 2010)]
# Use the sum function you can easily figure out the % completed for the decades
avg_comp_rate_2000_to_2010 = pitching_df_2000_to_2010['CG'].sum()/pitching_df_2000_to_2010['GS'].sum()
pitching_df_1900_to_1910 = pitching_df[(pitching_df['yearID'] >= 1900) & (pitching_df['yearID'] <= 1910)]
avg_comp_rate_1900_to_1910 = pitching_df_1900_to_1910['CG'].sum()/pitching_df_1900_to_1910['GS'].sum()

plt.style.use('fivethirtyeight')
fig, ax = plt.subplots(figsize= (20,10))
fig.patch.set_facecolor('white')
ax.bar(x = ['1900 to 1910', '2000 to 2010'],
      height=[avg_comp_rate_1900_to_1910*100, avg_comp_rate_2000_to_2010*100])
ax.set_facecolor('white')
ax.yaxis.set_major_formatter(PercentFormatter())
ax.set_ylim(0,100)
ax.set_title('The Average Pitcher Game Completion Rate of\n1900 to 1910 vs 2000 to 2010')
plt.ylabel('% of Game Completed (Pitchers)')
#ax.legend()
plt.show()

## The Retro Dataset

Like before this section will go over how to get the data and then some examples on what questions you can answer with the dataset.

### Getting the data

The function will create a retro folder and then iterate through each year, download and unzip the file.

In [2]:
def get_retro_data():
    retro_path = './retro'
    os.mkdir(retro_path)
    for year in range(1871,2020):
        dload.save_unzip(f'https://www.retrosheet.org/gamelogs/gl{year}.zip', extract_path=retro_path , delete_after=True)

In [33]:
df = pd.read_csv('https://raw.githubusercontent.com/maxtoki/baseball_R/master/data/game_log_header.csv')
cols = list(df.columns)
for year in range(1871,2020):
    df_temp = pd.read_csv(f'retro/GL{year}.TXT',names=cols)
    df = df.append(df_temp, ignore_index=True)

In [34]:
df

,Date,DoubleHeader,DayOfWeek,VisitingTeam,VisitingTeamLeague,VisitingTeamGameNumber,HomeTeam,HomeTeamLeague,HomeTeamGameNumber,VisitorRunsScored,...,HomeBatting7Name,HomeBatting7Position,HomeBatting8PlayerID,HomeBatting8Name,HomeBatting8Position,HomeBatting9PlayerID,HomeBatting9Name,HomeBatting9Position,AdditionalInfo,AcquisitionInfo
0,18710504,0,Thu,CL1,NaN,1,FW1,NaN,1,0,...,Ed Mincher,7,mcdej101,James McDermott,8,kellb105,Bill Kelly,9,NaN,D
1,18710505,0,Fri,BS1,NaN,1,WS3,NaN,1,20,...,Asa Brainard,1,burrh101,Henry Burroughs,9,berth101,Henry Berthrong,8,HTBF,D
2,18710506,0,Sat,CL1,NaN,2,RC1,NaN,1,12,...,Pony Sager,6,birdg101,George Bird,7,stirg101,Gat Stires,9,NaN,D
3,18710508,0,Mon,CL1,NaN,3,CH1,NaN,1,12,...,Ed Duffy,6,pinke101,Ed Pinkham,5,zettg101,George Zettlein,1,NaN,D
4,18710509,0,Tue,BS1,NaN,2,TRO,NaN,1,9,...,Steve Bellan,5,pikel101,Lip Pike,3,cravb101,Bill Craver,6,HTBF,D
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220587,20190929,0,Sun,DET,AL,161,CHA,AL,161,3,...,Welington Castillo,10,palkd001,Daniel Palka,9,engea001,Adam Engel,8,NaN,Y
220588,20190929,0,Sun,MIN,AL,162,KCA,AL,162,4,...,Erick Mejia,8,arteh001,Humberto Arteaga,6,dinin001,Nick Dini,2,NaN,Y
220589,20190929,0,Sun,OAK,AL,162,SEA,AL,162,1,...,Daniel Vogelbach,10,smitm007,Mallex Smith,8,gordd002,Dee Gordon,4,NaN,Y
220590,20190929,0,Sun,NYA,AL,162,TEX,AL,162,1,...,Ronald Guzman,3,deshd002,Delino DeShields,8,trevj001,Jose Trevino,2,NaN,Y
220591,20190929,0,Sun,TBA,AL,162,TOR,AL,162,3,...,Richard Urena,6,davij007,Jonathan Davis,8,maill001,Luke Maile,2,NaN,Y

In [30]:
df['HR'] = df['VisitorHR']+df['HomeHR']
df['GameCounter'] = 1
df['Month'] = df['Date'].apply(lambda x: str(x)[4:6])

df_month = df.groupby('Month', as_index=False)[['HR','GameCounter']].sum()
df_month['Avg Home Runs by Month'] = df_month['HR']/df_month['GameCounter']

KeyError: 'HR'

In [28]:
df_month

  Month    HR  GameCounter  Avg Home Runs by Month
0    03   134           54                2.481481
1    04  1010          383                2.637076
2    05  1136          414                2.743961
3    06  1142          404                2.826733
4    07  1057          366                2.887978
5    08  1228          416                2.951923
6    09  1069          392                2.727041